header {
  background-color: blue;
  padding: 5px; 
}
main{
  margin-top: 100px;
}
footer{
  background-color: aqua;
  /* color: white; */
  margin-top: 150px;
  padding: 20px;
}


.head{
  color: red;
}
.para{
  color: aqua;
}
.code{
  color: brown;
}